.login {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
}

.login p {
    color: #333;
    margin-top: 1.2rem;
}

.login p a {
    color: orange;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    padding: 4px 0;
}

.login p a:hover {
    border-bottom: 1px solid orange;
}


