.register {
    margin: 55px auto 0 auto;
    max-width: 1200px;
    padding: 15% 10%;
}

.register form {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

.register form div {
    width: 48%;
}

.register p {
    color: #333;
    margin-top: 1.2rem;
}

.register p a {
    color: orange;
    font-weight: 500;
    font-style: italic;
    text-decoration: none;
    padding: 4px 0;
}

.register p a:hover {
    border-bottom: 1px solid orange;
}


.register .alert {
    color: red;
    font-style: italic;
    margin: 0;
}



/* Media Queries */

@media (max-width: 630px) {
    .register form {
        flex-wrap: wrap;
    }
    
    .register form div{
       width: 100%;
    }
}