
.contact {
    padding: 5%;
}

.contact h2 {
    font-size: 2rem;
    width: 205px;
    margin: 1.5rem auto;
    padding: 0.5rem 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    margin-bottom: 3rem;
}

.contact button {
    margin-top: 1.5rem;
}

.contact textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0.5rem;
}

.contact textarea:focus {
    border: 1px solid orange;
    outline: none;
}

.contact p {
    color: orange;
    font-style: italic;
}