header {
    width: 100%;
    padding: 0 2.5%;
    box-sizing: border-box;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.mainNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainNav div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mainNav ul {
    list-style-type: none;
}

.mainNav ul li {
    display: inline;
    margin-left: 1em;
}

.mainNav ul li,
.mainNav ul li a,
.logo a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 5px;
    transition: all 0.2s ease;

}

.mainNav ul li a:hover, 
.mainNav ul li a:hover, 
.logo a:hover,
.cart:hover {
    border-color: orange;
    color: orange;
    cursor: pointer;
}


.logo {
    margin: 0;
}

.logo a {
    font-size: 1.25rem;
    font-weight: bold;
}
