header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 2.5%;
    box-sizing: border-box;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.mainNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainNav div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mainNav ul {
    list-style-type: none;
}

.mainNav ul li {
    display: inline;
}

.mainNav ul li,
.mainNav ul li a,
.logo a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 5px;
    margin: 0;
}

.cart {
    padding: 5px;
}

.mainNav ul li a:hover, 
.mainNav ul li a:hover, 
.logo a:hover,
.cart:hover {
    border-color: orange;
    color: orange;
    cursor: pointer;
}


.logo {
    margin: 0;
}

.logo a {
    font-size: 1.25rem;
    font-weight: bold;
}

a:hover, .cart:hover {
    transition: all 0.2s ease;
}





/* Mobile nav */
svg {
    fill: #333;
    display: none;
}

svg:hover {
    fill: orange;
    cursor: pointer;
}

.mobileNav {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:1000;
    background:rgba(0,0,0,0.7);
}

.mobileNavInner {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background:#333;
}

.mobileNavInner ul {
    padding:  0 3rem 3rem 3rem;
}


.mobileNavInner a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    padding-top: 1.5rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid black;
}

.mobileNavInner a:hover {
    color: orange;
}

.mobileNavInner button {
    background: none;
    color: orange;
    font-size: 2rem;
    font-weight: normal;
    position: absolute;
    padding: 1rem;
    width: 55px;
    left: 2rem;
    top: 1rem;
}

.mobileNavInner button:hover {
    color: white;
    border-color: #333;
}

.linksContainer {
    margin-top: 6rem;
}

.cartAndMobileMenu {
    display: none;
}



/* media queries */
@media only screen and (max-width: 730px) {
    header {
        padding: 5%;
    }

    .mainNav ul {
        display: none;
    }

    svg {
        display: inline-block;
    }

    .mainNav .cartAndMobileMenu {
        display: flex;
        align-items: center;
    }

    .mainNav .cartAndMobileMenu li {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0 0 0 1rem;
    }

    .logo a {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    .mainNav .cartAndMobileMenu {
        padding: 0;
    }

    .mainNav .cart {
        padding-left: 0;
    }
}