.account {
    margin-top: 55px;
}

.userDetails {
    width: 40%;
    margin-right: 1rem;
}

.account button {
    max-width: 400px;
    display: block;
    margin-top: 1rem;
}

.account h2 {
    font-size: 2.5rem;
}

.editPara {
    margin-bottom: 3rem;
}



/* Order history */
.ordersHistory {
    text-align: center;
}

.individualOrder {
    border-right: 1px solid #333;
    border-left: 1px solid #333;
    margin: 5rem auto;
}

.orderDetails {
    border: 1px solid #333;
    margin: 0 auto;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.orderDetails p {
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.productDetails {
    display: flex;
    align-items: center;
    font-size: 1rem;
    text-align: left;
    padding: 2rem;
    border-bottom: 1px solid darkgray;
}

.productDetails img {
    max-width: 150px;
}

.productDetails p {
    margin: 10px;
}

.productName {
    font-weight: bold;
    font-size: 2rem !important;
}