.about {
    background-color: white;
    color:#333;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.about h2 {
    width: 100%;
    margin-top: 4rem;
}

.about .firstHeader {
    margin-top: 0;
}