.cart {
    position: fixed;
    height: 100%;
    top: 55px;
    right: 0;
    background-color: white;
    z-index: 5;
    padding: 0;
    box-shadow: -1px 3px 3px rgba(0, 0, 0, 0.2);
    min-width: 0;
    width: 33%;
    transition: all 0.5s ease;
}

.productsContainer {
    padding: 1.5rem;
}

.cart button {
    background-color: white;
    border: none;
    color: #333;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.removeButton {
    font-size: 1rem;
    font-size: 0.75rem;
}

.product {
    border-bottom: 1px solid lightgray;
    padding: 1em 0;
    display: flex;
    align-items: center;
}

.productName {
    font-weight: bold;
}

.product p {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 5px;
}

.productInfo {
    padding: 1rem;
}

.productQuantity {
    font-size: 0.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cart img {
    max-width: 75px;
}

.checkoutSection {
    margin-top: 2rem;
    padding: 1.5rem;
}


/* top of the cart*/
.productsInCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    color: white;
    background: #333;
    padding-left: 1.5rem;
    box-sizing: border-box;
}

.productsInCart button {
    width: 55px;
    background: none;
    color: orange;
    font-size: 1.75rem;
    font-weight: normal;
}

.productsInCart button:hover {
    color: white;
}