.login {
    box-sizing: border-box;
    position: relative;
    top: 60px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5%;
    text-align: left;
}

.forms {
   max-width: 40%;
   min-width: 260px;
   margin: 1em;
}

.login p {
    font-size: 0.7em;;
    margin-bottom: 2em;
}

.submitButton {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border: 1px solid black;
    color: black;
}

.submitButton:hover {
    background-color: black;
    color: white;
}