.App {
  color: #333;
}


/* Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}




/* General styles */
.maxWidth {
  margin-top: 55px;
  padding: 5%;
}

.limitedWidth {
  margin: 55px auto 0 auto;
  max-width: 1200px;
  padding: 5%;
}


/* Forms */
form {
  max-width: 350px;
  margin: 0 auto;
}

input {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  color: black;
  background-color: white;
  border: 1px solid darkgray;
  padding: 0.7rem;
  margin: 0.5em 0 1.5rem 0;
}

input:focus {
  outline: none;
  border-color: orange;
}

button {
  background-color: #333;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  padding: 0.7rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: orange;
  border-color: orange;
  cursor: pointer;
}


/* Media Queries */

@media (max-width: 700px) {
  .limitedWidth {
    padding: 10%;
  }
}