.productsContainer {
    padding-left: 0;
    padding-right: 0;
}

.productsContainer h2 {
    font-size: 2rem;
    width: 260px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.individualProduct {
    position: relative;
    padding: 20px;
    width: 50%;
    box-sizing: border-box;
    max-width: 550px;
}

.individualProduct div {
    background-color: black;
}

.individualProduct img {
    max-width: 100%;
    object-fit: cover;
    opacity: 0.9;
    transition: all 0.2s ease;
}

.individualProduct img:hover {
    max-width: 100%;
    object-fit: cover;
    opacity: 0.5;
    cursor: pointer;
}

.individualProduct h3 {
    position: absolute;
    left: 45px;
    bottom: 15px;
    color: white;
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


/* Mediq Queries */

@media only screen and (min-width: 1921px) {
    .individualProduct {
        width: 25%;
    }
}

@media only screen and (max-width: 800px) {
    .individualProduct h3 {
    font-size: 2rem;
    }
}

@media only screen and (max-width: 650px) {
   .individualProduct {
       width: 100%;
   }
}

@media only screen and (min-width: 400px) {
    .productsContainer {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}